elevenlab
ffmpeg
ffprobe
matplotlib
matplotlib-inline
moviepy
numpy
openai
openai-whisper @ git+https://github.com/openai/whisper.git@ba3f3cd54b0e5b8ce1ab3de13e32122d0d5f98ab
pandas
pillow
pydub
pytube
regex
requests
scikit-learn
scipy
seaborn
streamlit
tiktoken
tqdm

