elevenlabs==0.3.0b0
ffmpeg==1.4
ffprobe==0.5
matplotlib==3.8.3
matplotlib-inline==0.1.6
moviepy==1.0.3
numpy==1.26.4
openai==1.12.0
openai-whisper @ git+https://github.com/openai/whisper.git@ba3f3cd54b0e5b8ce1ab3de13e32122d0d5f98ab
pandas==2.2.0
pillow==10.3.0
pydub==0.25.1
pytube==15.0.0
rakugo==0.0.1
regex==2023.12.25
requests==2.31.0
scikit-learn==1.4.1.post1
scipy==1.12.0
seaborn==0.13.2
streamlit==1.31.1
tiktoken==0.6.0
tqdm==4.66.2

